{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block page_title %}About ATTENDEASE MS{% endblock %}

{% block content %}

<div class="profile-card">

    <h2>About ATTENDEASE MS</h2>

    <p>
        ATTENDEASE MS is a web-based Employee Attendance and Leave Management System
        developed using Flask, SQLite, Bootstrap, JavaScript and Chart.js.
    </p>

    <br>

    <div class="profile-grid">

        <div class="profile-item">
            <label>Project Name</label>
            <span>ATTENDEASE MS</span>
        </div>

        <div class="profile-item">
            <label>Developer</label>
            <span>Siddharth Jha</span>
        </div>

        <div class="profile-item">
            <label>Backend</label>
            <span>Flask + SQLite</span>
        </div>

        <div class="profile-item">
            <label>Frontend</label>
            <span>HTML + CSS + Bootstrap</span>
        </div>

    </div>

</div>

{% endblock %}
